/* basic reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
  background-image: linear-gradient(
    to right bottom,
     #ebebebc4,
     #ebebebc4), 
     url(./images/mnbkg.jpg);
  }

.App {
    text-align: center;
}

.App-title {
  font-size: 15em;
  color: #ffffff;
  position: relative;
  top: 25%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.App-intro {
    font-size: large;
}

.App-header {
  height: 75vh;
  min-height: 150px;
  background-image: url(./images/bkg.png);
  background-size: cover;
  background-position: top;
  position: relative;
  box-shadow: 0 5px 5px 1px grey;
}

.restaurant-link {
  font-size: 20px;
  color: #ffffff;
  position: absolute;
  top: 90%;
  left: 84%;
  transform: translate(-50%, -20%);
  border: white solid 1px;
  border-radius: 15px;
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.40);

}

.restaurant-link:hover {
  text-decoration: none;
  color: white;
  border: white solid 3px;
}

.image-buttons {
  margin: 10px;
  border: none;
  position: relative;
  top: 55%;
  left: 34%;
  transform: translate(-50%, -50%);
}

.image-buttons button {
  margin: 5px; 
  border-radius: 50%; 
  border: white solid 2px;
}

.image-buttons img {
  margin: 10px;
  border: none;
  border: 2px;
}

.image-buttons button:hover {
  border-radius: 50%;
  border: solid #c4c4c4 2px;
}

.button-tag {
    background-color: #838383;
}

.search-bar input{
  height: 45px;
  width: 100%;
  border-radius: 5px; 
  padding: 5px;
  font-size: 2em;
}

.coupon-container {
  background-color: #ffffff;
  border-radius: 15px;
  margin: 50px;
  width: 600px;
  position: relative;
  top: 140px;
  left: 46%;
  transform: translate(-50%, -50%);
  box-shadow: 15px 15px 5px rgb(77, 77, 77);
}

.coupon-image-tags {
  text-align: center;
  background-color: rgb(228, 173, 72);
  border-radius: 10px 10px 0 0;
}

.coupon-container button {
  background-color: #838383;
  width: 49%;
  margin: 3px;
  height: 50px;
  font-size: 2em;
  color: white;
  border-radius: 10px;
}

.coupon-container button:hover {
  color: #b9b8b8;
}

.coupon-image-tags img {
    margin: 15px;
    height: 50px;
}

.restaurant-name {
  font-size: 2.5em;
  text-align: center;
  margin-top: 2px;
}

.coupon-info {
    text-align: center;
    font-size: 3.5em;
    margin: 15px;
}

.coupons-left {
    font-size: 1.5em;
    width: 50%;
    margin: 10px;
    float: left;
    text-align: center;
}

.coupon-distance {
    font-size: 1.5em;
    width: 50%;
    margin-top: 25px;
    margin-left: 50%;
    text-align: center;
}

.coupon-footer {
  height: 100px;
  background-color: white;
}

@media only screen and (max-width: 600px) {

  .restaurant-link {
    font-size: 20px;
    margin-top: 5px;
    float: left;
  }

  .App-title {
    font-size: 10em;
    margin-top: 10px;
  }
  .App-logo {
   display: none;
  }

  .coupon-container {
    width: 90%;
    margin: 5px;
  }
}

/* MODAL */

.modal-container {
    position: relative;
}

.modal-container .modal,
.modal-container .modal-backdrop {
    position: absolute;
}

.modal-content {
  margin-top: 45%;
  border-radius: 10px;
}

#modal-coupon- {
    margin-top: 15%;
}

#map {
    height: 400px;
    width: 100%;
}


/* ADMIN */

Navbar .container {
    margin-left: 0;
    margin-right: 0;
    max-width: '100%';
    width: '100%';
}

.admin-backg {
    background-image: url(./images/admin.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    height: 95vh;
}

.main-div-admin {
    background-color: rgb(46, 45, 45);
    /* background-color: #F1F3F6; */
}

.charts-admin {
    background-color: white;
    border-radius: 20px;
    padding-bottom: 1%;
}

.title-charts {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: lightgrey;
    padding-bottom: 1%;
    padding-top: 1%;
}

.create-restaurant {
    background-color: white;
    margin-top: 5em;
    padding: 4em;
    border-radius: 20px;
    margin-bottom: 30%;
}

.show-restaurants-admin {
    margin-top: 1em;
    padding: 1em;
    margin-bottom: 75%;
}

.search-rest-stats {
    width: 95%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 8px;
    font-size: 1.5em;
}

.rest-backg {
    background-image: url(./images/admin.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    height: 100vh;
    overflow: auto;
}

.s-alert-wrapper {
    font-size: 18px;
    font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    font-weight: 18px;
}

.s-alert-box-inner {
    font-size: 20px;
    font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
}

#single-coupon {
  margin-top: 8em;
}

