.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  margin-top: 30px;
}

.App-title {
  font-size: 4em;
  color: white;
  margin-left: 15px;
  text-align: left;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-header {
  height: 30vh;
  background-image: url(./images/main-background.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}

.page-container{
  background-image: url(./images/spoon-background.jpg);
}
.image-buttons {
  margin: 20px;
}

.image-buttons button :hover {
  background-color: lightgrey;
}

.search-bar {
  margin: 15px;
}

.coupon-container {
  background-color: ivory;
  border: 2px solid black;
  border-radius: 5px;
  width: 300px;
  position: relative;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 30px;
}

.coupon-image-tags {
  border-bottom: 2px solid black;
}

.coupon-container button {
  background-color: lightblue;
  width: 50%;
}

.coupon-container button:hover {
  background-color: green;
}

.restaurant-name :hover {
  background-color: palegreen;

}

.coupon-image-tags img {
 margin: 5px;
}

.coupon-info {
  margin: 5px;
}

.modal-container {
  position: relative;
  margin-top: 2%;
}

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.modal-content {
  margin-top: 15%;
}

#modal-coupon-{
  margin-top: 15%;
}

.button-tag{
  background-color: grey;
}

#map {
  height: 400px;
  width: 100%;
 }
