/* basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-image: linear-gradient(
    to right bottom,
     #e0e7dede,
     #b0bdb8da),
     url(./images/spoon-background.jpg);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  margin-top: 30px;
}

.App-title {
  font-size: 4em;
  color: white;
  margin-left: 15px;
  text-align: left;
  float: left;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-header {
  height: 40vh;
  min-height: 150px;
  background-image: url(./images/main-background.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}

.page-container{
  /* background-image: url(./images/spoon-background.jpg); */
  /* background-color: rgba(255, 255, 255, 0.397); */
}

.image-buttons {
  margin: 20px;
}

.image-buttons button :hover {
  background-color: lightgrey;
}

.search-bar input{
  margin: 10px;
  height: 30px;
  width: 200px;
  box-shadow: 10px 10px 5px grey;
}

.coupon-container {
  background-color: rgba(255, 255, 255, 0.733);
  /* border: 2px solid black; */
  /* border-radius: 5px; */
  width: 450px;
  position: relative;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 30px;
  box-shadow: 10px 10px 5px grey;
}

.coupon-image-tags {
  border-bottom: 2px solid black;
  text-align: center;
}

.coupon-container button {
  background-color: lightblue;
  width: 50%;
  height: 30px;
  font-size: 1.2em;
}

.coupon-container button:hover {
  background-color: green;
}

.coupon-image-tags img {
 margin: 5px;
}

.restaurant-name {
  font-size: 1.6em;
  text-align: center;  
  margin-top: 2px;
}

.restaurant-name :hover {
  background-color: palegreen;
}

.coupon-info {
  text-align: center;
  font-size: 2em;

}

.coupons-left {
  font-size: 1.3em;
  width: 50%;
  margin-left: 5px;
}

.coupon-distance {
  font-size: 1.3em;
  width: 50%;
  margin-left: 5px;
}

.modal-container {
  position: relative;
  margin-top: 2%;
}

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.modal-content {
  margin-top: 15%;
}

#modal-coupon-{
  margin-top: 15%;
}

.button-tag{
  background-color: grey;
}

#map {
  height: 400px;
  width: 100%;
 }

.restaurant-link {
  font-size: 25px;
  float: right;
  margin: 15px;
  color: black;
}

.restaurant-link:hover {
  text-decoration: underline;
  color: black;
}

@media only screen and (max-width: 600px) {

  .restaurant-link {
    font-size: 20px;
    color: white;
    margin-top: 5px;
    float: left;
  }
  .App-title {
    width: 100%;
    font-size: 3em;
    margin-top: 10px;
  }
  .App-logo {
   display: none;
  }

  .coupon-container {
    width: 90%;
  }

}

