.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  margin-top: 30px;
}

.App-title {
  font-size: 4em;
  color: white;
  margin-left: 15px;
  text-align: left;
  float: left;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-header {
  height: 30vh;
  min-height: 150px;
  background-image: url(./images/main-background.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}

.page-container{
  /* background-image: url(./images/spoon-background.jpg); */
  background-color: khaki;
}
.image-buttons {
  margin: 20px;
}

.image-buttons button :hover {
  background-color: lightgrey;
}
.search-bar input{
  margin: 10px;
}

.coupon-container {
  background-color: ivory;
  border: 2px solid black;
  border-radius: 5px;
  width: 300px;
  position: relative;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 30px;
}

.coupon-image-tags {
  border-bottom: 2px solid black;
}

.coupon-container button {
  background-color: lightblue;
  width: 50%;
}

.coupon-container button:hover {
  background-color: green;
}

.restaurant-name :hover {
  background-color: palegreen;

}

.coupon-image-tags img {
 margin: 5px;
}

.coupon-info {
  margin: 5px;
}

<<<<<<< HEAD
.modal-container {
  position: relative;
  margin-top: 2%;
}

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.modal-content {
  margin-top: 15%;
}

#modal-coupon-{
  margin-top: 15%;
}

.button-tag{
  background-color: grey;
}

#map {
  height: 400px;
  width: 100%;
 }
=======
.restaurant-link {
  font-size: 25px;
  float: right;
  margin: 15px;
  color: black;
}

.restaurant-link:hover {
  text-decoration: underline;
  color: black;
}

@media only screen and (max-width: 600px) {
  
  .restaurant-link {
    font-size: 20px;
    color: white;
    margin-top: 5px;
    float: left;
  }
  .App-title {
    width: 100%;
    font-size: 3em;
    margin-top: 10px;
  }
  .App-logo {
   display: none;
  }
  
}
>>>>>>> b6a82f5... search bar functionality, search by restaurant name
